.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul{
  list-style-type: none;
  display: flex;
  
}

.nav-items > ul > li{
  padding:10px ;
}
.logo{
  width:170px;
  height: 70px;
  
}

.card{
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

}
.card > img{
  width:100%;
}
.restaurant-list{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 270px;
  background-color: lightgray;
  margin: 20px;
}